* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(31, 60, 174, 0.7), rgba(24, 134, 35, 0.7)), url(detailsbg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.signup-container h2 {
    color: #1bda9a;
    font-size: 24px;
    margin-bottom: 20px;
}

.signup-container input {
    width: calc(100% - 40px);
    height: 40px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 15px;
    padding: 10px;
    transition: border-color 0.3s;
}

.signup-container input:focus {
    outline: none;
    border-color: #00ff66;
}

.signup-container ::placeholder {
    color: #888;
}

.signup-container button {
    width: calc(100% - 40px);
    height: 45px;
    background: #00ff66;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.signup-container button:hover {
    background: #005f3f;
    color: #fff;
}

#success {
    color: #fff;
    margin-top: 20px;
    text-align: center;
}